@font-face {
    font-family: 'Minion';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Semibold'), url('MinionPro-Semibold.woff') format('woff');
}

@font-face {
    font-family: "Signpainter";
    src: url('fonts/SignPainter.ttc');
}
      
:root {
    --cream: #f2f1f0;
    --creamAlpha: #f2f1f000;
}

body {
    background-color: #87afb9;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.m {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 3100px;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 2px;
    height: 5000px;
    background-color: white;
    box-shadow: 0px 0px 10px white;
    top: 0;
}

#left-line {
    left: 5%;
}

#right-line {
    right: 5%;
}

.m .main-container {
    position: absolute;
    width: 80%;
    height: 3100px;
    background-color: var(--cream);
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.5));
    display: flex;
    align-items: center;
    flex-direction: column;
}

.m #top {
    width: 100%;
    transform: scale(1.5);
    position: absolute;
    z-index: 2;
    top: -40px;
}

.m .bismillah {
    margin-top: 200px;
    width: 50%;
    filter: blur(20px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.bis-fade {
    filter: blur(0px);
    opacity: 1;
}

.m #us {
    margin-top: 30px;
    width: 100.5%;
}

.m #arrow {
    margin-top: 50px;
    width: 20px;
}

.m .main-container p {
    margin-top: 50px;
    font-family: "Minion", serif;
    color: rgb(131, 102, 58);
    width: 260px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 14px;
}

.m .heart-container{
    margin-top: 50px;
    width: 75%;
    height: 250px;
    z-index: -2;
    position: relative;
}

.heart {
    fill:none;
    stroke:#754c24;
    stroke-miterlimit:10;
    stroke-width:4px;
    stroke-dasharray: 1910;
    stroke-dashoffset: 1910;
    transition: all 1s ease-in-out;
}

.heart-full {
    stroke-dashoffset:0;
}

.m .heart-container .name {
    position: absolute;
    background: radial-gradient(circle, var(--cream) 60%, var(--creamAlpha) 80%);
    top: 0;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m .heart-container #ansaar-name {
    transform: translate(-30px, -50px);
}

.m .heart-container #anneira-name {
    transform: translate(80px, 80px);
}


.m .heart-container h3 {
    font-family: "Minion", serif;
    color: rgb(131, 102, 58);
    font-weight: 100;
    font-size: 28px;
    letter-spacing: 3px;
    margin: 0;
    text-align: center;
}

#ampersand {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 40%;
    font-family: "Signpainter", serif;
    /*color: rgb(164, 175, 143);*/
    font-size: 32px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.fadein {
    opacity: 0;
}

.m .info-container {
    width: 80%;
    margin-top: 80px;
}

.m h2{
    font-family: "Minion", serif;
    color: rgb(131, 102, 58);
    font-weight: 100;
    font-size: 28px;
    letter-spacing: 3px;
    margin: 10px 0 10px 0;
}

#date-text {
    text-align: right;
}

.m .date-container {
    position: relative;
}

.m .date-container img:first-child{
    width: 100%;
    height: 300px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 2px solid #754c24;
}

#date {
    width: 50%;
    position: absolute;  
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}

#place-text {
    text-align: left;
}

.m .place-container {
    position: relative;
}

.m .place-container img:first-child{
    width: 100%;
    height: 300px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #754c24;
}

#venue {
    width: 60%;
    position: absolute;  
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}

#address-text {
    text-align: right;
    font-size: 18px;
}

#rsvp-text {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
}

#rsvp-date {
    text-align: center;
}

#quote {
    margin-top: 50px;
    width: 100%;
}

#end {
    margin-top:50px;
    text-align: left;
    font-size: 18px;
}

#sign {
    width: 30%;
    margin-top: 50px;
}

#bottom {
    width: 100%;
    transform: scale(1.5);
    position: absolute;
    z-index: 2;
    bottom: -80px;
    rotate: 180deg;
}

















.m .main-container {
    opacity:1;
}

.bouquet img {
position: absolute;
}


.flower-1 { width: 250px; top: 140px; left: -120px; z-index: 2; rotate: -20deg;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f0 { transform: scale(1); opacity: 1;}

.flower-2 { width: 180px; top: 310px; left: -20px; z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f1 { transform: scale(1); opacity: 1;}


.flower-3 { width: 180px; top: 310px; right: -40px; z-index: -2; rotate: 180deg;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f2 { transform: scale(1); opacity: 1;}


.flower-4 { width: 250px; top: 500px; right: -100px; rotate: 10deg; z-index: 2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f3 { transform: scale(1); opacity: 1;}


.flower-5 { width: 180px;top: 700px;left: -75px;rotate: 180deg; z-index: 2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f4 { transform: scale(1); opacity: 1;}

.flower-6 { width: 180px;right: -90px;top: 950px;rotate: 210deg;z-index: 2;
    opacity: 0;
    transform: scale(-0,0);
    transition: all 0.4s ease-out;}
.f5 { transform: scale(-1, 1); opacity: 1;}

.flower-7 { width: 250px;top: 1125px;left: -130px;rotate: -10deg;z-index: 3;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f6 { transform: scale(1); opacity: 1;}

.flower-8 { width: 180px;top: 1300px;left: -55px;rotate: -0deg;z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f7 { transform: scale(1); opacity: 1;}

.flower-9 { width: 180px;top: 1450px;right: -50px;rotate: -180deg;z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f8 { transform: scale(1); opacity: 1;}

.flower-10 { width: 250px;top: 1620px;right: -110px;rotate: -0;z-index: 2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f9 { transform: scale(1); opacity: 1;}

.flower-11  {width: 180px;top: 1720px;left: -60px;rotate: 180deg;z-index: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f10 { transform: scale(1); opacity: 1;}

.flower-12 { width: 180px;top: 2000px;right: -60px;rotate: 170deg;z-index: 0;
    opacity: 0;
    transform: scale(-0, 0);
    transition: all 0.4s ease-in-out;}
.f11 { transform: scale(-1,1); opacity: 1;}

.flower-13 { width: 250px;top: 2100px;left: -110px;rotate:0deg;z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f12 { transform: scale(1); opacity: 1;}

.flower-14 { width: 180px;top: 2300px;left: -55px;rotate: -0deg;z-index: 02;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f13 { transform: scale(1); opacity: 1;}

.flower-15 {width: 250px;top: 2500px;right: -60px;rotate: -0deg;z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f14 { transform: scale(1); opacity: 1;}


.flower-16 {width: 180px;top: 2560px;left: -40px;rotate: -180deg;z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f15 { transform: scale(1); opacity: 1;}

.flower-17 {width: 180px;top: 100px; right: -50px;rotate: -0deg;z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f16 { transform: scale(1); opacity: 1;}

.flower-18 {width: 180px;top: 350px; left: -50px;rotate: -180deg;z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f17 { transform: scale(1); opacity: 1;}

.flower-19 {width: 180px;top: 450px; left: -20px;rotate: -0deg;z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;}
.f18 { transform: scale(1); opacity: 1;}

.flower-20 { width: 180px;top: 900px;left: -80px;rotate: 10deg; z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f19 { transform: scale(1); opacity: 1;}

.flower-21 { width: 180px;top: 1530px;left: -40px;rotate: 180deg; z-index: -2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f20 { transform: scale(1); opacity: 1;}

.flower-22 { width: 180px;top: 1900px;left: -60px;rotate: 10deg; z-index: 2;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f21 { transform: scale(1); opacity: 1;}

.flower-23 { width: 180px;top: 2700px;left: -70px;rotate: 10deg; z-index: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f22 { transform: scale(1); opacity: 1;}

.flower-24 { width: 180px; top: 730px; right: -70px; z-index: -2; rotate: 0deg;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f23 { transform: scale(1); opacity: 1;}

.flower-25 { width: 200px; top: 1160px; right: -70px; z-index: 0; rotate: 10deg;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f24 { transform: scale(1); opacity: 1;}

.flower-26 { width: 180px; top: 1800px; right: -90px; z-index: -2; rotate: 180deg;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f25 { transform: scale(1); opacity: 1;}

.flower-27 { width: 250px; top: 2300px; right: -120px; z-index: 2; rotate: 140deg;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f26 { transform: scale(1); opacity: 1;}

.flower-28 { width: 180px; top: 2200px; right: -60px; z-index: -2; rotate: 140deg;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f27 { transform: scale(1); opacity: 1;}

.flower-29 { width: 180px; top: 2700px; right: -70px; z-index: 2; rotate: 180deg;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-out; }
.f28 { transform: scale(1); opacity: 1;}